/* base - color */

// Colours are defined in section 1, then assigned in section 2. All colours used are listed here

// 1. Specific colors

$color-blue: #1890ff !default; //1890ff
$color-grey: #4B545C !default; //4B545C
$color-lightgrey: #c6c9cc !default; //c6c9cc
$color-offwhite: #edf0f3 !default; //edf0f3
$color-white: #fcfcfc !default; //fcfcfc
$color-black: #252322 !default; //252322

// 2. Elements
// Naming convention = $plinth-color-<file name>-<element>-<specialization>
$plinth-color-sizing-background: $color-white !default;

$plinth-color-typography-text: $color-grey !default;

$plinth-color-blockquote-border: $color-grey !default;

$plinth-color-code-text: $color-black;
$plinth-color-code-background: $color-offwhite !default;
$plinth-color-code-border: $color-blue !default;

$plinth-color-divider: $color-lightgrey !default;

$plinth-color-link: $color-blue !default;
$plinth-color-link-hover: $color-grey !default;
$plinth-color-link-active: $color-blue !default;
$plinth-color-link-visited: $color-grey !default;

$plinth-color-button-text: $color-white !default;
$plinth-color-button-background: $color-blue !default;
$plinth-color-button-border: $color-blue !default;
$plinth-color-button-alternate: $color-grey !default;

$plinth-color-form-text: $color-black !default;
$plinth-color-form-background: $color-offwhite !default;
$plinth-color-form-border: $color-offwhite !default;
$plinth-color-form-border-focus: $color-blue !default;
$plinth-color-form-select-icon: $color-grey !default;
$plinth-color-form-select-icon-focus: $color-blue !default;

$plinth-color-table-border: $color-lightgrey !default;

$plinth-color-shadow: $color-grey !default;
$plinth-color-shadow-primary: $color-blue !default;

// 3. Utility Elements
$plinth-color-utility-text: $color-lightgrey !default;
$plinth-color-utility-color-primary: $color-blue !default;
$plinth-color-utility-color-light: $color-white !default;
$plinth-color-utility-color-dark: $color-black !default;
$plinth-color-utility-border: $color-blue !default;


